@import "./scss/utilities/variables";

/*---Hover Underline---*/

@mixin underline-from-center($class) {
  #{$class} {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.5px) translateZ(0);
    transform: perspective(0.5px) translateZ(0);
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  #{$class}:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: nth($colors, 2);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #{$class}:hover:before,
  #{$class}:focus:before,
  #{$class}:active:before {
    left: 0;
    right: 0;
  }
}

/*---Hover Grow---*/

@mixin hover-grow-small($class) {
  #{$class} {
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(4px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer;
  }
  #{$class}:hover,
  #{$class}:focus,
  #{$class}:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@mixin hover-grow-big($class) {
  #{$class} {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(4px) translateZ(0);
    transform: perspective(4px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer;
  }
  #{$class}:hover,
  #{$class}:focus,
  #{$class}:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}


/*---Hover Transitions---*/

@mixin hover-change-colors($class, $icon_color, $bg_color) {
  #{$class} {
    transition: all 0.5s;
  }

  #{$class}:hover {
    color: $icon_color;
    background-color: $bg_color;
  }
}

@mixin hover-change-border($class, $border_color) {
  #{$class}:hover {
    border: 1px solid $border_color;
  }
}


@mixin hover-radial-out($class){
  #{$class} {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background:transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #{$class}:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #{$class}:hover, #{$class}:focus, #{$class}:active {
    color: black;
  }
  #{$class}:hover:before, #{$class}:focus:before, #{$class}:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}



/*--Others--*/

@mixin hover-curl-edge-right($class){
  #{$class} {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  #{$class}:before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: white;
    /* IE9 */
    background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
  }
  #{$class}:hover:before, #{$class}:focus:before, #{$class}:active:before {
    width: 25px;
    height: 25px;
  }
}
