@import "./scss/utilities/variables";

* {
  font-family: $font;
}

a {
  text-decoration: none;
  color: nth($colors, 1);
}

a:hover {
  color: white;
}

h1 {
  font-size: 50px;
}

body {
  margin: 0%;
  background-image: url(../img/Fondo_comprimido.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  height: 100vh;
  box-sizing: border-box;
}
