@import './scss/utilities/variables';


.book-catalog-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 360px;


    border: 5px ridge nth($colors , 6);
    border-radius: 10px;
    margin-bottom: 7px;

    

    img{
        width: 90%;
        height: 90%;
    }

}