@import "./scss/utilities/variables";
@import "./scss/utilities/mediaquery";
@import "./scss/utilities/animations";

footer {
  display: flex;
  justify-content: space-around;
  height: 150px;
  background-color: nth($colors, 2);
  color: nth($colors, 4);

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 230px;
  }

  h4 {
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }

  #footer-find-us-title {
    text-align: start;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    font-size: small;
    li {
      margin-bottom: 5px;
    }
  }

  .footer-icon-container {
    flex-direction: row;
    align-items: center;
    margin-right: 50px;

    .footer-icons {
      font-size: 25px;
      color: nth($colors, 4);
    }
    /* .footer-icons-> animations*/
    @include hover-grow-big(".footer-icons");
    @include hover-change-colors(".footer-icons", black, nth($colors, 2));
  }

  @include mediaquery-mq-medium-862px {
    flex-direction: column;
    text-align: center;
    height: auto;

    div {
      width: 100%;
      margin-top: 35px;
    }

    #footer-find-us-title {
      text-align: center;
    }

    .footer-icon-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-bottom: 8px;
    }
  }
}
