@import "./scss/utilities/variables";
@import "./scss/utilities/mediaquery";

footer {
  background-color: nth($colors, 2);
  height: 150px;
  color: nth($colors, 4);
  display: flex;
  justify-content: space-around;

  div {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h6 {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-align: center;
  }

  #footer-find-us-title {
    text-align: start;
  }

  ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    li {
      margin-bottom: 5px;
    }
  }

  .footer-icon-container {
    
    flex-direction: row;
    
    align-items: center;
    margin-right: 50px;

    .footer-icons {
      font-size: 25px;
      color: nth($colors, 4);
    }
  }

  @include mediaquery-mq-medium-862px {
    flex-direction: column;
    height: auto;
    text-align: center;

    div{
      width: 100%;
      margin-top: 35px;
    }

    #footer-find-us-title {
      text-align: center;
    }


   

    .footer-icon-container {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 8px;
      width: 100%;
    }
  }
}
