@import "./scss/utilities/mediaquery";
@import "./scss/utilities/animations";
@import './scss/components/secondaryComponents/buttons';

////////////////////////// HEADER GENERAL STYLES //////////////////////////
header {
  display: flex;
  justify-content: end;
  margin-right: 24%;

  /*---Bootstrap-Navbar Styling---*/

  .navbar-menu-btn {
    @include headerMenuButton;
    margin-right: 15px;
    display: none;
  }

  .navbar-menu-btn:hover{
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);;
  }
  /*---*/

  .header-nav-menu {
    display: flex;
  }

  .header-nav-list {
    @include underline-from-center(".header-nav-list-item");
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0%;
    list-style-type: none;
    right: 15%;
    color: aliceblue;

    li {
      margin-right: 8px;
      margin-top: 13px;
    }
  }

  .offcanvas-menu {
    .offcanvas-menu-list {
      @include underline-from-center(".offcanvas-menu-list-item");
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0%;
      

      li {
        margin-bottom: 10px;
        a {
          color: #c2900f;
          font-size: larger;
        }
      }
    }
  }

  .mobile-nav-list {
    display: none;
  }

  @include mediaquery-mq-large-960px {
    margin-left: 260px;

    .header-nav-list {
      width: 440px;
    }
  }

  @include mediaquery-mq-medium-862px {
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0%;
    margin-top: 10px;
    margin-right: 15px;

    .navbar {
      display: block;
    }

    .mobile-nav-list {
      display: flex;
    }

    .header-nav-list {
      li {
        margin-top: 0%;
      }
    }

    .header-nav-menu {
      display: none;
    }
  }

  @include mediaquery-mq-samll-550px {
    .header-nav-list {
      flex-direction: column;
    }

    .header-nav-list {
      width: auto;
    }
  }
}

////////////////////////// HEADER WITH FILTER MENU //////////////////////////



@include mediaquery-mq-medium-862px {
  #filter-header {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0%;
    width: 100%;
  }

  .header-button-container {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    display: flex;

    .btn-menu-header{
      @include headerMenuButton;
    }

    .btn-menu-header:hover{
      background-color: rgb(255, 193, 7);
    }
  }

  
}



.form-menu-btn{
  margin-bottom: 20px;
}

