@import "./scss/utilities/mediaquery";
@import "./scss/utilities/mixins";
@import "./scss/components/secondaryComponents/icons";
@import "./scss/components/secondaryComponents/filter";
@import "./scss/components/secondaryComponents/bookCard";
@import "./scss/components/secondaryComponents/newsItem";
@import "./scss/components/secondaryComponents/newsletter";
@import "./scss/components/secondaryComponents/forms";
@import "./scss/components/secondaryComponents/scrollbar";
@import "./scss/utilities/animations";

////////////////////////// INDEX LAYOUT //////////////////////////

.logo-phrase {
  position: relative;
  width: 350px;
  top: 200px;
  left: 350px;

  @include mediaquery-mq-medium-862px {
    width: 250px;
    top: 100px;
    left: 25px;
  }

  @include mediaquery-mq-samll-550px {
    width: 250px;
  }
}

.link-icons {
  @include icons-index-link-icons-large;
}
/* .link-icons-> animations*/
@include hover-grow-small(".link-icons");
@include hover-change-colors(
  ".fa-water",
  rgb(15, 137, 194),
  rgb(255, 255, 255)
);
@include hover-change-colors(".fa-wind", rgb(33, 52, 60), rgb(255, 255, 255));
@include hover-change-colors(
  ".fa-pagelines",
  rgb(16, 116, 5),
  rgb(255, 255, 255)
);
@include hover-change-colors(
  ".fa-fire-flame-curved",
  rgb(174, 7, 7),
  rgb(255, 255, 255)
);

.main-links {
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  

  p {
    text-align: center;
    width: 40%;
    font-size: 17px;
    font-weight: bold;
  }

  h1 {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 25px;
    text-decoration: underline 3px solid #c2900f;
    text-underline-offset: 0.3em;
  }

  .main-links-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-links-link-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 10px;
    overflow-y: scroll;

    .icon-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
        color: #c2900f;
      }
    }
  }
  @include scrollbar(".main-links-link-container");

  @include mediaquery-mq-medium-862px {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

    .main-links-link-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }

    .icon-card {
      margin-top: 15px;
    }

    .link-icons {
      @include icons-index-link-icons-small;
    }
  }
}

@include hover-radial-out(".main-links");

////////////////////////// STREAMING LAYOUT //////////////////////////
@include scrollbar(".streaming-cards-container");
/*---Main Gneneral Settings--*/

#streaming-page-main {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 80px;
  margin-top: 50px;
  column-gap: 15px;

  @include mediaquery-mq-medium-862px {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    @include h1-styles;
    align-self: center;
  }
}

.streaming-icon {
  @include icons-streaming-icons;

  @include mediaquery-mq-medium-862px {
    display: none;
  }
}
/*---Streaming Section---*/

#streaming {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.streaming-spotify,
.streaming-youtube {
  @include margin-left-right(10px, 10px);
  display: flex;
  align-items: center;
  align-self: center;
  width: 90%;

  @include mediaquery-mq-medium-862px {
    flex-wrap: wrap;
    justify-content: center;
    width: 362px;
  }
}

.streaming-title-card h2 {
  display: none;

  @include mediaquery-mq-medium-862px {
    display: block;
    font-size: 35px;
    border-bottom: 4px solid #ffc107;
    color: rgb(51, 47, 47);
  }
}

.streaming-cards-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: scroll;
  @include margin-left-right(15px, 15px);
  height: 390px;
  border-radius: 10px;
  border: 1px solid #e8ddc0;

  .streaming-card {
    align-self: center;
    @include margin-left-right(10px, 10px);
    margin-top: 10px;
  }
  @include hover-grow-small(".streaming-card");

  @include mediaquery-mq-medium-862px {
    flex-direction: column;
  }
}

@include scrollbar(".streaming-cards-container");

////////////////////////// LIBRARY LAYOUT //////////////////////////
@include scrollbar("#book-container");
#book-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    @include h1-styles;
  }
}

#book-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 80%;
  height: 100%;
  border-radius: 10px;
  overflow-y: scroll;
  border: 3px inset #ddac2b;
  background-color: #fff2ce;
}

////////////////////////// BECOME GREEN LAYOUT //////////////////////////

#newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-left: 2px solid white;
  border-right: 2px solid white;

  @include mediaquery-mq-medium-862px {
    margin-left: 0%;
    width: 95%;
  }

  #newsletter-page-container {
    @include newsletter;
  }
  @include scrollbar("#newsletter-page-container");
}

////////////////////////// FORMS LAYOUT //////////////////////////
.forms-main-layout {
  @include contactForm;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;

  .forms-title-section {
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 30px;

    h1 {
      @include h1-styles;
    }
  }
}
