
@import './scss/utilities/animations';


@mixin newItemButton{

    border-radius: 15px;
    border: 2px solid white;
    background-color: #1842b5;
    color: white;
    width: 65px;

}

@mixin selectorButton{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #c2900f;
    align-self: center;
   
}