@import "./scss/utilities/mediaquery";
@import "./scss/utilities/animations";
@import "./scss/components/secondaryComponents/buttons";

#filter {
  justify-self: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 0.506);


  hr {
    width: 50%;
  }
}

.btn-filter-canva {
  display: none;
}

.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #212529;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px;
  }

  h4 {
    margin-bottom: 30px;
    color: #c2900f;
  }

  ul {
    list-style: none;
    padding: 0%;
  }

  li {
    padding-bottom: 3px;
  }
  @include hover-grow-small(".filter-list-item");
  @include hover-change-colors(".filter-list-item", #c2900f, transparent);

  .checkbox {
    display: flex;
    flex-direction: column;
  }

  .input-search-autor,
  .input-search-date {
    align-self: center;
    width: 95%;
    border: 1px solid grey;
    border-radius: 8px;
  }

  .btn-search-autor {
    margin-top: 7px;
    width: 85px;
    @include selectorButton;
  }
  @include hover-change-colors(".selector-button", #c2900f, white);
  @include hover-change-border(".selector-button", #c2900f);
}

.offcanvas {
  display: none;
}

@include mediaquery-mq-medium-862px {
  #filter {
    display: none;
  }

  .btn-filter-canva {
    display: block;
    align-self: center;
    justify-self: center;
    width: 80px;
    margin-right: 15px;
    border-radius: 100px;
    border: 3px solid #ffc107;
  }

  .btn-primary {
    --bs-btn-bg: transparent;
  }

  .offcanvas {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);

    .offcanvas-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
