@import "./scss/utilities/mixins";
@import "./scss/utilities/mediaquery";
@import "./scss/components/secondaryComponents/scrollbar";
@import './scss/utilities/animations';


@mixin newsItem {
  border: 3px solid green;
  border-radius: 15px;
  overflow-y: scroll;
  background-color: #ffffffde;
  cursor: pointer;

  .news-item-tittle-container {
    color: white;
    background-color: green;
  }


  .news-body-text{
    text-align: justify;
    column-gap: 20px;
    line-height: 1.6;
    @include margin-left-right(6px,6px);
  }
}
@include scrollbar(".news-item");
@include hover-curl-edge-right('.news-item');

