@import "./scss/utilities/mixins";
@import "./scss/utilities/mediaquery";
@import "./scss/components/secondaryComponents/scrollbar";

@mixin newsItem {
  border: 3px solid green;
  border-radius: 15px;
  overflow-y: scroll;
  background-color: #ffffffde;

  .news-item-tittle-container {
    color: white;
    background-color: green;
  }
}
@include scrollbar(".news-item");
